[2018-01-18 03:45] dhixsingh opened #1 "Make road blockages available in the same way as the fire via the "dataUpdate" method"
Requested by @kainagel.

See how fire data is published in [PhoenixFireModule.java#L100](https://github.com/agentsoz/bdi-abm-integration/blob/747a90c9c781974fd62dbeaf96d9169cd26e4fce/examples/bushfire/src/main/java/io/github/agentsoz/ees/PhoenixFireModule.java#L100), and received in [MATSimModel.java#L401](https://github.com/agentsoz/bdi-abm-integration/blob/747a90c9c781974fd62dbeaf96d9169cd26e4fc

[2018-01-18 04:15] dhixsingh opened #2 "Consolidate EES command line options"
EES runtime options are currently specified in [Main.java](https://github.com/agentsoz/bdi-abm-integration/blob/8bb89b19206fc0cee9cccd5d62204b68c3c41a7c/examples/bushfire/src/main/java/io/github/agentsoz/ees/Main.java#L321) in a few ways:
* Through a EES config file using `--config`
* Some directly through the command line, such as [`--safeline-output-file-pattern`](https://github.com/agentsoz/bdi

[2018-01-18 04:22] dhixsingh opened #3 "MainMaldon600Test fails on Windows"
Fails when [checking output plans](https://github.com/agentsoz/bdi-abm-integration/blob/8ee3d73975f68fae2833ff01ec8c64e01b93a06f/examples/bushfire/src/test/java/io/github/agentsoz/ees/MainMaldon600Test.java#L88) due to differences in the line break character between windows and unix.

Seen on Windows only.

Reported by @osbornejr.

[2018-01-18 05:06] dhixsingh opened #4 "Evacuation departures are likely long tailed, not normally distributed as currently implemented"
The UI for specifying departures currently looks like this:

![screenshot from 2018-01-18 15 57 10](https://user-images.githubusercontent.com/7893676/35081453-5ab74640-fc68-11e7-879a-302497393062.png)

Agreed to add a third user input parameter to indicate the *time of last person leaving*. A long tailed distribution like that shown in the example below can then be calculated from the three given

[2018-01-18 05:38] dhixsingh opened #5 "Update the MATSim network file for Mount Alexander Shire"
The Mount Alexander Shire MATSim network network file used by all tests and in the EES ui is [here](https://github.com/agentsoz/bdi-abm-integration/blob/619743505534cb1c4bfead036b373eb70468d324/examples/bushfire/scenarios/mount-alexander-shire/mount_alexander_shire_network.xml.gz).

The task is to:
- [x] Extract two OSM networks from OpenStreetMap; one detailed for the Mount Alexander Shire region

[2018-01-18 05:44] dhixsingh opened #6 "Write test for emergency services entering fire area"
Set up a test for:
* Maldon,
* using the FDDI 75 fire,
* with evacuation to Castlemaine and Harcourt,
* and emergency services vehicles coming in from Castlemaine and Harcourt, say 5 each

/cc @kainagel

[2018-01-18 06:01] dhixsingh opened #7 "EES ui hangs if <Create Simulation> failed for whatever reason"
This is because the UI continually polls the server to check on simulation progress, but has no contingency to time out in cases where simulation is not progressing (due to some error).

**note to self made around xmas 2017** *The code now has a limit of 200 polls at 2 secs each so will time out after 7 mins. This is not a good solution though as a simulation could take more than that. Need to cha

[2018-01-18 06:11] dhixsingh opened #8 "Write new test for congestion"
Requires some discussion around what it means to be in congestion, i.e., how the [congestion event](https://github.com/agentsoz/bdi-abm-integration/blob/a167cf42751ae2f6250331b0d99ad8e7cdf50e70/integrations/bdi-matsim/src/main/java/io/github/agentsoz/bdimatsim/AgentInCongestionEvent.java#L31) is generated.

Then:
- [x] Calculate when an agent is in congestion and generate the BDI percept
- [x] Han

[2018-01-18 06:15] dhixsingh commented on #5
---------- Forwarded message ----------
From: Nagel Kai
Date: 12 December 2017 at 10:45
Subject: Bradford
To: Dhirendra Singh

Dear Dhirendra,

I should have sent this email before the other one.

They are always taking the "long" route, even before the fire is there. See below.

Reason is that your "secondary" road have speed 16.66 (=60km/h), while your tertiary roads have speed 27.77 (=100km/h).

[2018-01-18 06:17] dhixsingh commented on #5
Should also change the scenarios/tests to link to a single network file so that it is then easier to update it in the one place. Right now each scenario saves its own copy. Raised #9 for this.

[2018-01-18 06:19] dhixsingh opened #9 "Update ees scenarios/tests to link to a single MATSim network file"
Otherwise it is very painful to update the MATSim network file, and the problem gets worse the more scenarios and tests we add.

Related to #5.

[2018-01-18 06:21] dhixsingh commented on #9
Fixed in 747a90c9c781974fd62dbeaf96d9169cd26e4fce.

[2018-01-18 06:21] #9 closed, assigned to dhixsingh

[2018-01-18 06:25] dhixsingh opened #10 "Suggested improvements to fire avoidance code"
---------- Forwarded message ----------
From: Nagel Kai
Date: 12 December 2017 at 10:44
Subject: fire avoidance
To: Dhirendra Singh

Dear Dhirendra,

this is what it is doing so far (see attached movie).

I have put a buffer around the fire area, currently at 1000 (I assume it interprets this as meters, but don't really know).

A problem with this type of approach is that all links inside fire are

[2018-01-18 06:27] dhixsingh opened #11 "Web visualiser for EES"
The new embedded visualiser should use this open-source project http://webvis.janeklaudan.de/.

Coordinate with @kainagel when we start on this.

[2018-01-18 06:28] dhixsingh commented on #11
@kainagel also sent this, as it may be of interest:  https://protect-au.mimecast.com/s/44GXBwSeZbJVu1?domain=github.com.

[2018-01-18 07:16] kainagel commented on #10
A comment to this: the „penaltyMethod2“ in the code actually does „uphill evacuation“ as described below.

Sent from my iPad

On 18. Jan 2018, at 17:25, Dhirendra Singh <notifications@github.com<mailto:notifications@github.com>> wrote:

---------- Forwarded message ----------
From: Nagel Kai
Date: 12 December 2017 at 10:44
Subject: fire avoidance
To: Dhirendra Singh

Dear Dhirendra,

this is what

[2018-01-20 11:52] kainagel commented on #8
Look at

* EvacAgentTracker, which generates the event (i.e. defines the conditions of "congested")

* EventsMonitorRegistry, which catches the event and then interacts with the BDI system

On 18. Jan 2018, at 17:11, Dhirendra Singh <notifications@github.com<mailto:notifications@github.com>> wrote:

Requires some discussion around what it means to be in congestion, i.e., how the congestion event<h

[2018-01-21 21:20] dhixsingh opened #12 "Threading issue with BDI action/percept interaction with MATSim"
Occurred on [Travis build 387](https://travis-ci.org/agentsoz/bdi-abm-integration/builds/331360169) running `master` commit 181b4900e05a10d9adeae2bb650e3be92f841938.

**When I re-ran the build on Travis it passed!** So this is very much a threading problem.

/cc @kainagel

[code]

[2018-01-21 22:06] dhixsingh opened #13 "Specify BDI agents via population XML"
Currently, the way BDI agents are specified for EES is a bit messy.

* First, All agents in the MATSim population file are treated as BDI agents (see [Main.java#L149](https://github.com/agentsoz/bdi-abm-integration/blob/8bb89b19206fc0cee9cccd5d62204b68c3c41a7c/examples/bushfire/src/main/java/io/github/agentsoz/ees/Main.java#L149)).
* Then, a `<bdiagents>..</bdiagents>` tag that gives a count of BD

[2018-01-21 22:13] dhixsingh opened #14 "Maintain explicit map for converting between MATSim and BDI agent IDs"
Currently, MATSim population IDs must follow the series `0,1,2,3,...` since these are mapped directly to Jill IDs that are created that way. This is not very flexible, and what we would like is to maintain an explicit map for converting between MATSim and Jill IDs.

This is also required for #13.

Something that starts to do this is in [JillBDIModel.java](https://github.com/agentsoz/bdi-abm-integr

[2018-01-23 01:10] dhixsingh opened #15 "Implement query percept behaviour"
Required for at least the following two scenarios:

* A resident stuck during evacuation needs to replan to the nearest safe location, and therefore needs to know its current location, i.e. `query(myid, "REQUEST_LOCATION", null)`.
* Related case is that the replanning agent needs to calculate the *driving* distance to the new safe location, i.e., `query(myid, "DISTANCE_TO", safe_location)`.

/cc @

[2018-01-23 01:17] dhixsingh commented on #15
Preferred solution is to separate out the [`queryPercept(...)`](https://github.com/agentsoz/bdi-abm-integration/blob/5cc0974939695f0e4633f79a32ef76ac463494f4/integrations/bdi-abm/src/main/java/io/github/agentsoz/bdiabm/ABMRemoteServerInterface.java#L52) function into a new interface.

Then in the [Agent](https://github.com/agentsoz/bdi-abm-integration/blob/5cc0974939695f0e4633f79a32ef76ac463494f4/

[2018-01-23 05:55] dhixsingh commented on #6
Available as of 5cf1d2a87c158a5daeec50f2f29de8fa2c4671ed.

@kainagel note that this [uses a Jill snapshot](https://github.com/agentsoz/bdi-abm-integration/blob/03715b37b943c776d3a6a10cf20de7050089d988/.travis.yml#L12).

@kainagel ready for you to implement the emergency vehicles routing. Note `EvacRoutingMode.emergencyVehicle` needs to be enabled [here](https://github.com/agentsoz/bdi-abm-integrat

[2018-01-23 06:13] dhixsingh commented on #6
@osbornejr  note how [this](https://github.com/agentsoz/bdi-abm-integration/blob/5cf1d2a87c158a5daeec50f2f29de8fa2c4671ed/examples/bushfire/src/test/java/io/github/agentsoz/ees/Maldon100WithEmergencyVehiclesTest.java#L36) now uses multiple agent types, and also how arguments are passed to them.

[2018-01-28 21:15] dhixsingh commented on #3
Details from @osbornejr below:

[2018-01-29 01:26] dhixsingh commented on #1
@kainagel this is now available. I have updated [`testBlockage50()` to use a json file that specifies the disruptions](https://github.com/agentsoz/bdi-abm-integration/blob/69c3c872df4d08784c96e7664e1f97ffb585ecf5/examples/bushfire/src/test/java/io/github/agentsoz/ees/BlockageCampbellsCreek50Test.java#L46); the disruptions are then published and received by [`MATSimModel.dataUpdate(...)`](https://g

[2018-01-29 01:31] dhixsingh commented on #3
Asked @osbornejr to try adding `-Dfile.encoding=UTF-8` to the surefire plugin config `argLine` below but that did not solve it. Will keep investigating.

https://github.com/agentsoz/bdi-abm-integration/blob/250bf5c13030a0df1057ece2bac549116ee40d05/pom.xml#L140

[2018-01-29 05:52] osbornejr commented on #13
Further to this, it would be good if in the MATsim population file the attribute indicated which type of BDIagent the agent should be. Like BDIagent='Resident', BDIagent='Responder' etc. In this format, an agent that doesn't need a BDI correspondant could have attribute BDIagent='null'.

[2018-01-29 21:48] dhixsingh commented on #13
@osbornejr, yes likely we want more than one attribute and the ability to add more as we need them. Seems we could do something like this:
[code]

[2018-01-30 01:43] dhixsingh opened #16 "Implement REQUEST_LOCATION query percept"
The call to [`queryPercept(agentId, "REQUEST_LOCATION", linkId)`](https://github.com/agentsoz/bdi-abm-integration/blob/7753676477b71eb56f5c3c89e206c4f6b41e7642/integrations/bdi-matsim/src/main/java/io/github/agentsoz/bdimatsim/MATSimModel.java#L473) should return the approximate coordinates of agent `agentId` on the network link `linkId`.

/cc @osbornejr.

[2018-01-30 01:47] dhixsingh commented on #15
The infrastructure is available since 7753676477b71eb56f5c3c89e206c4f6b41e7642.

@osbornejr see how you can now request the agent's location using the query percept mechanism in

https://github.com/agentsoz/bdi-abm-integration/blob/4e72a4b1b90638307981bf2105269c2dcc9472ea/examples/bushfire/src/main/java/io/github/agentsoz/ees/agents/Resident.java#L101-L102

Have raised #16 to actually implement `R

[2018-01-30 01:47] #15 closed, assigned to dhixsingh

[2018-01-30 04:05] dhixsingh commented on #6
@kainagel destinations for emergency vehicles are now correct as of 27e7718a37ff4a2a58b1afcc2f4ba835da04cbbf.

[2018-01-30 05:23] dhixsingh commented on #16
One option is to return the coordinates of the from/to nodes the link is attached to and let the user application decide how to use the information that the agent is somewhere between those two points.

Discussed with @kainagel who will see if we can do anything better wrt estimating the agent's position on the link.

[2018-01-31 02:37] dhixsingh commented on #1
@osbornejr there is now a temp fix in d9a0c0431b5059e6189207a0ef54c57f467b354c that allows you to specify the blocked link as a command line argument. See

https://github.com/agentsoz/bdi-abm-integration/blob/d9a0c0431b5059e6189207a0ef54c57f467b354c/examples/bushfire/src/test/java/io/github/agentsoz/ees/BlockageCampbellsCreek01Test.java#L46

[2018-01-31 11:12] dhixsingh commented on #8
Since a154c29be43b5a212263a8ec7d78dd75beea0416 there is now some logic that determines if an agent is in congestion. The idea is something like this:

* An agent *senses* if it is in congestion periodically, with the interval between each sensing being at least `T` seconds. The intuition is that people do not compute precisely whether they are or are not in traffic congestion to the second, but ra

[2018-02-01 01:45] dhixsingh commented on #8
Commit d5aea6f2d08438d6dd1b2113665e7d8ee9110619 adds the ability for `Resident` agents to react to congestion. Current behaviour is to react in the same way as they do for blockages, i.e., by replanning to find a better route to the destination.

Relevant code is here:

https://github.com/agentsoz/bdi-abm-integration/blob/d5aea6f2d08438d6dd1b2113665e7d8ee9110619/examples/bushfire/src/main/java/io/

[2018-02-01 03:02] dhixsingh commented on #8
@kainagel the new test [Castlemaine2000Test](https://github.com/agentsoz/bdi-abm-integration/blob/d5aea6f2d08438d6dd1b2113665e7d8ee9110619/examples/bushfire/src/test/java/io/github/agentsoz/ees/Castlemaine2000Test.java#L24) that I mention above fails with the following error. Any ideas? It's not doing anything special, just has 2000 vehicles leaving Castlemaine for Harcourt.

[code]

[2018-02-01 03:59] dhixsingh commented on #16
Commit f3fe7f1c641162b693db137fc7891726eef2d73b now returns the current location of the BDI agent in response to the `REQUEST_LOCATION` percept query.

Since the exact location of the agent is not known on a MATSim link, what is returned is a `Location[2]` giving the coordinates of the two nodes that the link is connected to. The interpretation is that the agent is somewhere on the line connecting

[2018-02-01 03:59] #16 closed, assigned to dhixsingh

[2018-02-02 00:24] dhixsingh opened #17 "Implement REQUEST_DRIVING_DISTANCE_TO query percept"
Implement query `queryPercept(agentId, "REQUEST_DRIVING_DISTANCE_TO", location)` that should return the driving  distance to the given `location`.

Use case is when a BDI agent is re-planning and wants to choose between several evacuation destinations, perhaps wanting to choose the one closest to its current location.

 /cc @osbornejr

[2018-02-02 02:39] dhixsingh commented on #8
Commit a6411d4b7c93740d3f0a96baebcc41cd1500e06e now has what seems to be a reasonable setting for congestion - agents reevaluate the situation every 3 mins and will replan if then are delayed by more than 25% or 45 secs.

https://github.com/agentsoz/bdi-abm-integration/blob/a6411d4b7c93740d3f0a96baebcc41cd1500e06e/examples/bushfire/src/test/java/io/github/agentsoz/ees/Castlemaine2000Test.java#L45

[2018-02-05 23:25] osbornejr commented on #1
This feature works as intended, but there seems to be something on the MATsim side still referring to the hardcoded link 51825 from the BlockageCampbellsCreekTest. If this link id doesn't exist in a network, then the simulation will fail.

See org.matsim.withinday.utils.EditPlans.class, line 42 @dhixsingh

[2018-02-05 23:29] dhixsingh opened #18 "Add BDI config section in EES xml"
There are various behavioural aspects of BDI agents that users would likely want to configure. These are currently done in the jill config at the moment, such as in:

https://github.com/agentsoz/bdi-abm-integration/blob/27e7718a37ff4a2a58b1afcc2f4ba835da04cbbf/examples/bushfire/src/test/java/io/github/agentsoz/ees/Maldon100WithEmergencyVehiclesTest.java#L38

Ideally, this should all be part of the

[2018-02-06 00:11] dhixsingh commented on #6
Note that the penalties for the Emergency vehicle routingis at the moment the same as that for residents. We moght want something different here:

https://github.com/agentsoz/bdi-abm-integration/blob/f3fe7f1c641162b693db137fc7891726eef2d73b/integrations/bdi-matsim/src/main/java/io/github/agentsoz/bdimatsim/MATSimModel.java#L314

[2018-02-06 00:27] dhixsingh commented on #1
@osbornejr, fixed in the latest matsim/kaibranch.

[2018-02-06 06:49] dhixsingh commented on #6
Commit b9cc923145f1afff19cd4c17ae76318d128a9af2 contains the updated network file [mount_alexander_shire_network_20180206.xml.gz](https://github.com/agentsoz/bdi-abm-integration/blob/b9cc923145f1afff19cd4c17ae76318d128a9af2/examples/bushfire/scenarios/mount-alexander-shire/mount_alexander_shire_network_20180206.xml.gz), that was created as follows:
[code]

Tests have not been updated to use this y

[2018-02-06 19:46] dhixsingh commented on #5
Commit b9cc923145f1afff19cd4c17ae76318d128a9af2 contains the updated network file [mount_alexander_shire_network_20180206.xml.gz](https://github.com/agentsoz/bdi-abm-integration/blob/b9cc923145f1afff19cd4c17ae76318d128a9af2/examples/bushfire/scenarios/mount-alexander-shire/mount_alexander_shire_network_20180206.xml.gz), that was created as follows:
[code]

Tests have not been updated to use this y

[2018-02-07 07:47] dhixsingh commented on #5
Commit 91ed4565a56b94204da1c693f3ecc55e5cad6cbc contains as updated file [mount_alexander_shire_network_2018.xml.gz](https://github.com/agentsoz/bdi-abm-integration/blob/91ed4565a56b94204da1c693f3ecc55e5cad6cbc/examples/bushfire/scenarios/mount-alexander-shire/mount_alexander_shire_network_2018.xml.gz) with the Mount Alexander Shire MATSim network.  There is also a new script [create-mas-network.s

[2018-02-12 03:37] osbornejr commented on #17
Hi @dhixsingh I am trying to look into this issue at the moment, the main hurdle I think is in the MatsimModel (~line 480).

 I have setup a REQUEST_DRIVING_DISTANCE case that would most likely have two location coordinates as input args-- one that was obtained using REQUEST_LOCATION, and the other coming from the list of evacuation point locations.

But I will need some matsim mechanism to get a

[2018-02-13 00:55] dhixsingh commented on #5
Note the [OpenStreetMap recommendation  for tagging in Australia](https://wiki.openstreetmap.org/wiki/Australian_Tagging_Guidelines).

Also, the current [recommended `maxspeed` defaults for Australia](https://wiki.openstreetmap.org/wiki/OSM_tags_for_routing/Maxspeed#Australia) are reproduced below.

[code]

These should be reflected in `NetworkGenerator` that currently has:

https://github.com/age

[2018-02-13 10:38] kainagel commented on #6
This means that it is closed for the time being, isn't it?  If it does not work, can re-open it.

[2018-02-13 10:38] #6 closed, assigned to dhixsingh

[2018-02-14 09:11] kainagel commented on #13
Added a test `AttributesInPopulationTest` which should explain this.  Let me know if you have questions.

[2018-02-14 09:31] kainagel commented on #1
I moved this one step forward.  ~~It is not yet working; it is also failing tests on the matsim side (there was even more caching going on than I remembered)~~.  However, it now fails with saying that some of the data is of type `PerceptList.DISRUPTION` but cannot be cast into `Disruption` (see failing test).  @dhixsingh, Could you please have a look?  Or am I misunderstanding something?

[2018-02-20 07:50] dhixsingh commented on #1
@kainagel  commit 3c4d4130ee43406e05d48c84ad028c964ad38289 fixes the issue and the test passes now on Traivs. Am assigning back to you in case there is something else you needed to do here, but if not then maybe this one can be closed now.

[2018-02-21 21:55] kainagel commented on #1
Looks like this is working now.

I am sceptic if passing coordinate+radius is a useful API for blockage:

* I am not really sure what this means.  All links of which at least some portion is covered by that circle?  If so, I have no easy way to compute that.  Also, a link may be curved in reality, but straight in the abstracted matsim view, in which case it may be covered by the circle in reality

[2018-02-21 22:01] dhixsingh commented on #13
@kainagel, is `AttributesInPopulationTest` not pushed maybe? I can't see it yet.

[2018-02-21 22:11] dhixsingh commented on #5
Since 2804a23fd7d1c2531adcab73cee9886b0e765279 `Maldon100WithEmergencyVehiclesTest` uses the new network. Will raise a separate issue for updating other tests as needed.

[2018-02-21 22:59] dhixsingh commented on #5
Attached are some views of the final network. Colours represent freespeed:
* `110 km/h` is dark blue
* `90-100 km/h` is light blue
* `60-80 km/hr` is yellow
* `50 km/h` and lower is red

Here is the full extent of the new network:
![mas-network-2018-full](https://user-images.githubusercontent.com/7893676/36509916-4ff01be8-17b5-11e8-992d-3e4acaed06d3.png)

Here is the same network zoomed into the a

[2018-02-21 22:59] #5 closed, assigned to dhixsingh

[2018-02-21 23:11] dhixsingh commented on #1
Yes ok, and maybe in general we should avoid any scheme passing coordinates to the MATSim model and rather work at the level of links/nodes for locations as much as possible.

I'll take this one back and change the disruptions data so that what is passed on is a list of impacted links, instead of coords+radius.

[2018-02-22 02:19] dhixsingh commented on #13
@kainagel thanks, `AttributesInPopulationTest` is there now since 845fc54442933312649711ea0d887eb296421365. Yes that's all we need, I can take it from here.

[2018-02-22 02:40] dhixsingh commented on #1
@kainagel, ok so this is implemented and working now for both `BlockageCampbellsCreek01Test` and `BlockageCampbellsCreek50Test` since 9dd07cc9d5055fc701a34709701aa53ee71d4b6d.

The input disruptions data now looks like this:
https://github.com/agentsoz/bdi-abm-integration/blob/e65352771d154159f093278df3a5f188c1a4483a/examples/bushfire/scenarios/mount-alexander-shire/campbells-creek-50/scenario_dis

[2018-02-22 03:18] dhixsingh commented on #17
@kainagel is there an easy way to query MATSim for the driving distance (not beeline) between two nodes on the network? I guess we will first want to find the route between the nodes given some routing mode (like freespeed), and then the distance (and maybe also estimated time) covered by that route.

[2018-02-22 03:30] dhixsingh opened #19 "Create new MATSim network for Northern Cluster Shires"
The intent is to extend the EES frontend to include all the **Northern Victorian Emergency Management Cluster** Shires, which are:
* Central Goldfields Shire
* City of Greater Bendigo
* Loddon Shire
* Mount Alexander Shire
* Shire of Campaspe

[2018-02-22 05:41] dhixsingh commented on #7
Implemented the following in c7412fa590b4523327dcbf76d0ea40efa771678d:
* Server errors are now propagated all the way up to the UI dialog
* Handled calls to `/api` that fail immediately
* Handled case where server dies after scenario is saved but before **Create Simulation** is pressed
* Handled case where server dies during **Create Simulation**
* Handled case where simulation takes too long--whe

[2018-02-22 05:44] #7 closed, assigned to dhixsingh

[2018-02-22 05:48] dhixsingh opened #20 "Update EES results page"
Decide what information should be presented on the results page, in what format, and in what order. For instance, egress information should likely be prominent and centre stage, along with the safeline graphs.

To be done in consultation with the Northern Cluster Shires Working Group.

[2018-02-22 05:57] dhixsingh commented on #1
@osbornejr  note that the `--x-blocked-link` temporary option is now gone, everything is done via the disruptions file. See `BlockageCampbellsCreek50Test` for example.

[2018-02-22 06:02] dhixsingh commented on #1
@kainagel more on this: here is a dump from `jill.out` for one of those 46 stuck agents. Seems it is replanning via the blocked link then eventually gives up:
[code]
I am not certain that this is a MATSim issue (seems like it but could also be something on the BDI side), but stopping here for today.

[2018-02-22 07:46] kainagel commented on #1
Odd.  It is not doing it for me.  Also, the tests on the build server are passing.  I am still on kaibranch, depending on the current version of the matsim kaibranch; are you maybe using another version there?

[2018-02-26 02:32] #10 closed, assigned to nobody

[2018-02-26 02:42] dhixsingh commented on #1
@kainagel the problem shows if you change the `scenario_disruptions.json` file. It currently says this (and that works fine):

https://github.com/agentsoz/bdi-abm-integration/blob/e65352771d154159f093278df3a5f188c1a4483a/examples/bushfire/scenarios/mount-alexander-shire/campbells-creek-50/scenario_disruptions.json#L19

So to reproduce the problem I pasted above, try changing the this parameter to

[2018-02-26 11:02] kainagel commented on #1
Ah, I see, I think that I found that as well, see my email.  Pls try new kaibranch version if that fixes it for you.

[2018-02-26 11:18] kainagel commented on #17
See 1df1786229ba3262541596812ce962765b963b59 and later in queryPercept.  Can't say if it will work; please try around a bit with it.  One issue is that you need to define the EvacRoutingMode; it will thus return the length associated with the routing mode, _not_ the shortest path by distance.  If you need the latter, you/we will need to set up a shortest path router.

[2018-02-26 21:06] dhixsingh commented on #1
@kainagel yes I can verify that with commit 1df1786229ba3262541596812ce962765b963b59 it is now working as expected. Thanks for that.

[2018-02-26 21:06] #1 closed, assigned to dhixsingh

[2018-02-26 21:10] dhixsingh commented on #17
Thanks @kainagel. Requiring the `EvacRoutingMode` is fine. Will try and it out and let you know if we have more questions.

[2018-02-28 10:10] dhixsingh opened #21 "Possible threading issue with BlockageCampbellsCreek50Test"
Attached is an image of the Travis builds status, from 28-feb-18 @2049 hrs AEST. Notice that the same commit on `master` was passing up until a day ago but failed just now. The commit in question (https://github.com/agentsoz/bdi-abm-integration/commit/181b4900e05a10d9adeae2bb650e3be92f841938) is actually quite old.

![master-failing-issues](https://user-images.githubusercontent.com/7893676/3678129

[2018-02-28 10:32] dhixsingh opened #22 "Travis setup is likely unstable"
Our current Travis setup looks like this:
https://github.com/agentsoz/bdi-abm-integration/blob/2879487cb565d7b3673caac81097cb8805d73219/.travis.yml#L7-L16

Note how we run our commits not against a fixed MATSim and Jill version, but against the latest version on some given branch.  Note also that Travis often runs new builds against old commits even if they have previously passed. See for instance

[2018-02-28 10:39] kainagel commented on #22
Yes, I know, that's why it is running once per day even if there are no commits ... to make sure that commits on the other side did not introduce new problems.

I think that we should wait until the 0.10.x release of MATSim.

(Although we then also need to decide that there is now a feature freeze.)

[2018-02-28 10:52] dhixsingh commented on #22
Didn't realise that that is why Travis re-runs builds. Nice. Btw how does it know to do that without us explicitly telling it?

Yes ok, happy to wait till 0.10.x. Are you closer to a date for that yet @kainagel ?

[2018-02-28 12:45] kainagel commented on #21
I can't really say that much about the master.  I know that I changed functionality in matsim/kaibranch in order to make the withinday blockage work in bdi-abm-integration/kaibranch.  I am pushing these things from time to time to matsim/master, which means that they end up in matsim/0.10.x-SNAPSHOT at some point.  My guess thus is that you will need to

* keep merging material from bdi-abm-integr

[2018-02-28 22:04] dhixsingh commented on #21
@kainagel yes understood.

[2018-02-28 22:10] dhixsingh commented on #21
Noting here for my benefit that this is related to (#22), since we use a MATSim snaphot for the build. See:
https://github.com/agentsoz/bdi-abm-integration/blob/181b4900e05a10d9adeae2bb650e3be92f841938/integrations/bdi-matsim/pom.xml#L35-L39
These issues will go away when we eventually switch to to the `0.10.0` release.

[2018-03-05 22:58] dhixsingh commented on #21
Duplicate of #22

[2018-03-05 22:59] #21 closed, assigned to dhixsingh

[2018-03-06 03:07] dhixsingh commented on #8
As of 6a015b53a7e4718eed75929d024ad8e3f9b76596 the test is called ['Castlemaine1000Test.java'](https://github.com/agentsoz/bdi-abm-integration/blob/6a015b53a7e4718eed75929d024ad8e3f9b76596/examples/bushfire/src/test/java/io/github/agentsoz/ees/Castlemaine1000Test.java), as the test actually has 1000 vehicles.

*Note that the test results are non-deterministic.* Will raise a separate issue for this

[2018-03-06 03:07] #8 closed, assigned to dhixsingh

[2018-03-06 03:17] dhixsingh opened #23 "testCastlemaine1000 results are non-deterministic"
Picking up from where #8 left. The results for the congestion test [`testCastlemaine1000`](https://github.com/agentsoz/bdi-abm-integration/blob/6a015b53a7e4718eed75929d024ad8e3f9b76596/examples/bushfire/src/test/java/io/github/agentsoz/ees/Castlemaine1000Test.java#L25) are non-deterministic.

The differences are in the number and timing of :
1) activity starts;
1) persons arriving.

The comparison

[2018-03-06 04:32] dhixsingh commented on #22
As of 1734411ac790f5430c494fce305eeef77cafb760 on `kaibranch`, have moved to `MATSim 0.10.0` release, as well as an explicit Jill commit (until there is an official release). This should resolve the issue on `master`  once we merge in `kaibranch`.

[2018-03-06 04:34] #22 closed, assigned to dhixsingh

[2018-03-06 22:44] dhixsingh opened #24 "Update conservation ethics build to reflect latest API changes in BDI-ABM and Jill"
Does not currently build due to various API changes from the past few months.

[2018-03-06 22:45] dhixsingh commented on #24
Fixed as of 1108094916aae342bd6d603291eebfb9e42c199e.

[2018-03-06 22:45] #24 closed, assigned to dhixsingh

[2018-03-07 00:54] dhixsingh commented on #17
Available since ee66066fea462412c78ad8a1d69d71ecf25b38c8.

Usage example is here:
https://github.com/agentsoz/bdi-abm-integration/blob/ee66066fea462412c78ad8a1d69d71ecf25b38c8/examples/bushfire/src/main/java/io/github/agentsoz/ees/agents/Resident.java#L104-L106

Example output from `scenarios/mount-alexander-shire/campbells-creek-1/jill.out ` looks like this:
[code]
/cc @osbornejr

[2018-03-07 01:00] #17 closed, assigned to dhixsingh, osbornejr

[2018-03-07 20:03] dhixsingh opened #25 "Create test for Shire of Denmark WA"
Shire of Denmark WA is the region to the south, in green outline in the map below (note that there are several Shires in the green area):

![denmark wa](https://user-images.githubusercontent.com/7893676/37114873-aab6bed6-229d-11e8-9269-e269a5c03a3d.png)

The detailed road network should probably extend from Manjimup to Albany in order to cover a sufficient area, while the large connecting roads sh

[2018-03-07 22:06] dhixsingh commented on #25
Available since 3a145abb89a8ae7b0543493c27f2df6e23cd7bc6 in [`shire_of_denmark_network_2018.xml.gz`](https://github.com/agentsoz/bdi-abm-integration/blob/3a145abb89a8ae7b0543493c27f2df6e23cd7bc6/examples/bushfire/scenarios/shire-of-denmark/shire_of_denmark_network_2018.xml.gz).

Attached are a couple of views of the network. The colors indicate free speeds on roads in increasing order of speed fro

[2018-03-09 03:45] dhixsingh commented on #25
Since 35043cc05c12f28e29011fce3edd9ed68c17736e there is now a new test that simulates the evacuation of 1000 vehicles from Denmark town area to Albany.

https://github.com/agentsoz/bdi-abm-integration/blob/35043cc05c12f28e29011fce3edd9ed68c17736e/examples/bushfire/src/test/java/io/github/agentsoz/ees/Denmark1000Test.java#L27-L46

A snapshot of the evacuation is attached:

![denmark-evac](https://u

[2018-03-09 04:03] #25 closed, assigned to dhixsingh

[2018-03-15 00:56] dhixsingh commented on #19
Available since 6e8e890a71d6936d1e68fe1da605f92203228377 in [loddon_mallee_northern_cluster_shires_network.xml.gz](https://github.com/agentsoz/bdi-abm-integration/blob/6e8e890a71d6936d1e68fe1da605f92203228377/examples/bushfire/scenarios/loddon-mallee-northern-cluster-shires/loddon_mallee_northern_cluster_shires_network.xml.gz). The script to generate the network is [create-northern-cluster-network

[2018-03-15 00:58] #19 closed, assigned to dhixsingh

[2018-03-22 02:00] dhixsingh opened #27 "Incorrect setting for disruptions start time can cause a simulation crash"
There are two issues with the current implementation:

1. Setting the disruption start to `0000 hrs` as below will bypass the disruption mechanism altogether, which is not the intended behaviour here.
https://github.com/agentsoz/bdi-abm-integration/blob/b5b080229b29acfdaa2f23d13e34bf9b3c4482e7/examples/bushfire/scenarios/otways/otways-50/scenario_disruptions.json#L16-L25

2. Setting it to `"startH

[2018-03-23 07:06] osbornejr commented on #23
Checks fail on the two Torquay tests, potentially for a similar reason (threading). _May_ be due to other issue but it is very hard to determine when they give different output each time, so I will wait until this is resolved in any case.

[2018-03-27 22:35] dhixsingh commented on #3
Can reproduce this consistently across various Windows machines. Oddly, the line endings are different in Windows only for the `<attribute>` and `</attribute>` tags in the entire file. Also, this is the only test that seems to be impacted, as the same comparison in the various other tests passes fine, and we do not see the different line ending character in those.

So as of 893d2283641b38ed70aca81

[2018-03-27 22:35] #3 closed, assigned to dhixsingh

[2018-03-28 01:59] dhixsingh commented on #27
Fixed in ff47d996a8570b4ba57ccffd875f3cde9b858a50. Test `BlockageCampbellsCreek01Test` now checks for this case.

Updated `BlockageCampbellsCreek01Test` disruptions input file with a start time as follows:
https://github.com/agentsoz/bdi-abm-integration/blob/ff47d996a8570b4ba57ccffd875f3cde9b858a50/examples/bushfire/scenarios/mount-alexander-shire/campbells-creek-1/scenario_disruptions.json#L19

w

[2018-03-28 02:05] #27 closed, assigned to dhixsingh

[2018-03-28 06:12] dhixsingh opened #28 "Create MATSim network for Surf Coast Shire from OpenStreetMap"
The area for  the Shire is shown below. The network should include the detailed roads for the bounded area, but also the major roads to the main nearby cities.

![surf-coast-shire](https://user-images.githubusercontent.com/7893676/38011900-fb624568-32aa-11e8-8093-01e8854a64b4.png)

[2018-04-09 05:12] dhixsingh opened #29 "Reported travel time in EES results page is incorrect"
The following auto-generated graph for the simulated evacution from Fryerstown to Chewton, shows incorrect times on the x-axis:
![traveltimeinmins](https://user-images.githubusercontent.com/7893676/38480310-408f7c6c-3c08-11e8-95be-f610880dfe35.png)

Verified that the time being shown in the graph is what was extracted into the analysis CSV.  So there seems to be a bug in the following code that cr

[2018-04-09 06:19] dhixsingh commented on #28
Available since ab021c59a20475ee51b29423df9bedfe908e1105 in [surf_coast_shire_network.xml.gz](https://github.com/agentsoz/bdi-abm-integration/blob/ab021c59a20475ee51b29423df9bedfe908e1105/examples/bushfire/scenarios/surf-coast-shire/surf_coast_shire_network.xml.gz).

A couple of views of the network are attached below:

![surf-coast-osm](https://user-images.githubusercontent.com/7893676/38482153-7

[2018-04-09 06:25] dhixsingh commented on #28
The OSM network is available in [surf_coast_shire_network.osm.gz](https://github.com/agentsoz/bdi-abm-integration/blob/23c083bd7552a3a7eeff219fbea452be56fc337d/examples/bushfire/scenarios/surf-coast-shire/data/surf_coast_shire_network.osm.gz).

[2018-04-09 06:28] #28 closed, assigned to dhixsingh

[2018-04-09 20:47] dhixsingh opened #30 "Update EES tests to use the new Surf Coast Shire network"
Update the tests in `examples/bushfire/scenarios/surf-coast-shire/*` to use the OSM-based Surf Coast Shire region network in `examples/bushfire/scenarios/surf-coast-shire/surf_coast_shire_network.xml.gz` (see related #28).

[2018-04-17 22:24] dhixsingh opened #31 "Create test with multiple messages to agents during evacuation"
The use case is that various kinds of messages may be sent to regions during a developing bushfire, such as `Advice`, `Watch & Act`, `Emergency Warning`, `Evacuate Now`, and so on.

This test should:
* [x] Ensure that messages of at least two different types are sent to agents over the course of the simulation
* [x] Show that BDI reasoning is triggered on these messages
* [x] Show that some agents

[2018-04-17 22:41] dhixsingh opened #32 "Add query_percept to get list of all agents in an area"
The query_percept should allow the BDI system to query MATSim for a list of all agents that are located within a given polygon area. The use case is to allow messages to be sent to agents within a arbitrary polygon area (see #31).

Add a test that demonstrates a staged evacuation, such that the `Fire Alert`  message is sent to two groups of agents (split into two arbitrary rectangular areas) at di

[2018-05-09 00:06] dhixsingh opened #33 "Add new model and test for sending emergency messages to sub-areas"
Create a test for Surf Coast Shire, showing staged evacuation of the region towards Geelong, possibly in the order of closest-to-destination first (so Lorne, then Anglesea, then Aireys Inlet).

[2018-05-15 22:28] dhixsingh opened #34 "Fix coordinate system used in EES"
There are various sources of GIS information used in the EES and the projection used can vary quite a lot. At the moment, we try and convert things to `latlon` and/or `utm`, which is old legacy code and too vague.

1. The simulation should have a global CRS setting, so that everything can be projected to that reference system as needed. This should go in the main config such as here:
https://githu

[2018-05-17 05:17] dhixsingh commented on #12
Attempt at a fix is in commit b8806c03b968ae2aca3923e4c4b402bd5642643b. For now, we just skip the DRIVETO handler function if we get a problem case.

The log now has the get following error for information:
[code]
The agent seems to finish successfully (around `6:31pm`), despite the condition above:
[code]

[2018-05-17 05:31] dhixsingh commented on #33
Available since b8806c03b968ae2aca3923e4c4b402bd5642643b in [Anglesea12kTest.java](https://github.com/agentsoz/bdi-abm-integration/blob/c973635293b42b7cd83dd4e01a72475c0a37717d/examples/bushfire/src/test/java/io/github/agentsoz/ees/Anglesea12kTest.java#L17) and [Anglesea12kTestStaged.java](https://github.com/agentsoz/bdi-abm-integration/blob/8793bbbdce782e8cea929f522117ee5662d13386/examples/bushfi

[2018-05-30 00:07] dhixsingh opened #35 "Update congestion behaviour to include parameter that controls how many people replan"
See #8 for existing congestion behaviour. The idea is to add a third parameter that controls what proportion of people who believe they are in congestion will actually do something about it (MATSim replanning).

[2018-06-13 07:28] osbornejr commented on #35
A note on this: even with a relatively small population (~500 agents), congestion becomes very costly when there is a disruption to the network which concentrates congestion (i.e. a blockage). Runtime goes from ~1 minute to 10-15 minutes or longer depending on parameters. See  [Anglesea12kTestSample](https://github.com/agentsoz/bdi-abm-integration/blob/kaibranch/examples/bushfire/src/test/java/io/

[2018-06-19 01:53] #33 closed, assigned to dhixsingh

[2018-06-19 01:55] dhixsingh commented on #30
@osbornejr this was completed some time back right? Could you note the commit number here and then close this?

[2018-06-19 02:02] dhixsingh commented on #35
Have made some adjustments to `Anglesea12kTestSample` including moving it to a separate dir, removing messaging (to simplify the test), relocting the blockage to a more interesting location, and adjusting the congestion parameter. Runs to completion in ~1 minute.

**Also noticed an issue with re-routing that I will raise a separate ticket for.**

https://github.com/agentsoz/bdi-abm-integration/blo

[2018-06-19 02:42] dhixsingh opened #36 "Undesired routing through fire in Anglesea12kTestSample"
In commit d9c23dafe13ac340cfc5ea6c17033d8c5e38ac62, for test [Anglesea12kTestSample](https://github.com/agentsoz/bdi-abm-integration/blob/d9c23dafe13ac340cfc5ea6c17033d8c5e38ac62/examples/bushfire/src/test/java/io/github/agentsoz/ees/Anglesea12kTestSample.java), we see some unexpected re-routing through the fire. This is a 12k population test running at a 4% sample and capacity reduced accordingly

[2018-06-19 02:43] dhixsingh commented on #35
Raised #36 on the identified issue.

[2018-06-19 04:38] osbornejr commented on #30
Yes, this was done back in April, but not for the Torquay tests which were ignored. Have now updated them as well, and they seem to be working ok. If they start causing the build to fail again, I'll switch them back onto ignore.

This the commit from which all SCS tests are switched to OSM: [d91083c47405639452cddbf00b3f25e3f027c359](https://github.com/agentsoz/bdi-abm-integration/commit/d91083c474

[2018-06-19 04:38] #30 closed, assigned to osbornejr

[2018-06-22 11:02] kainagel commented on #36
Dear Dhirendra,

I can't really tell without running (and debugging) it.

The first thing to check (= print out) the penalty factors of the links along the faulty route (i.e. get their IDs manually from via, and have the penalty values printout just after penaltyMethod2 was called).

The basis are "node heights".  Start with

} else if (buffer.contains(fromPoint)) {

     final double heightAtFrom

[2018-07-05 02:55] osbornejr opened #37 "Agents still evacuate even without a fire to trigger response"
Trying to implement test [Generated10kTest](https://github.com/agentsoz/bdi-abm-integration/blob/ees/examples/bushfire/src/test/java/io/github/agentsoz/ees/Generated10kTest.java) to demonstrate the base/routine plans that are now generated by the algorithm in `/surf-coast-shire/data/synthetic-population`. This requires the agents to not react to any fire threat, and continue to implement their dai

[2018-08-01 02:48] dhixsingh opened #38 "Move MATSim config files from v1 to v2"
Most of the matsim config .xml files in `examples/bushfire/*` use DTD [config version 1](http://www.matsim.org/files/dtd/config_v1.dtd). These should all be updated to [config version 2]http://www.matsim.org/files/dtd/config_v2.dtd).

MATSim otherwise generated the following warning at runtime:

`WARN ConfigReaderMatsimV1.java:58 using deprecated config version; please switch to config v2; your ou

[2018-08-01 02:53] dhixsingh opened #39 "Move MATSim plan files to DTD v6"
MATSim population files in `examples/bushfire/surf-coast-shire/*` currently use DTD [population v4](http://www.matsim.org/files/dtd/population_v4.dtd) and should all be upgraded to [population v6](http://www.matsim.org/files/dtd/population_v6.dtd).

[2018-08-01 02:55] dhixsingh opened #40 "Update SCS population generation algorithm to generate MATSim population compatible with v6"
The MATSim  plan geenration algorithm for Surf Coast Shire in `examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm` should be upgraded to generate MATSim plan files that comply with DTD [population v6](http://www.matsim.org/files/dtd/population_v6.dtd).

[2018-08-01 02:59] osbornejr commented on #39
Fixed as of [this commit](https://github.com/agentsoz/bdi-abm-integration/commit/bb8334dbb4596317157c8509945d9d10c28b43ca).

[2018-08-01 02:59] #39 closed, assigned to osbornejr

[2018-08-01 03:04] osbornejr commented on #40
Fixed as of [this commit](https://github.com/agentsoz/bdi-abm-integration/commit/bb8334dbb4596317157c8509945d9d10c28b43ca).

[2018-08-01 03:04] #40 closed, assigned to osbornejr

[2018-08-01 20:29] dhixsingh opened #41 "Update SCS plan generation algorithm to use known residences for home locations"
The Surf Coast Shire [population generation algorithm](https://github.com/agentsoz/bdi-abm-integration/blob/bb8334dbb4596317157c8509945d9d10c28b43ca/examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm/plan-algorithm.R) currently assigns `home` locations to `EvacNode`:

https://github.com/agentsoz/bdi-abm-integration/blob/893fb15b688ba8daa866e51f7956e071ee5b11e9/ex

[2018-08-01 20:44] dhixsingh opened #42 "Update SCS plan generation algortihm to use likelihoods when assigning locations"
In the [plan generation algortihm](https://github.com/agentsoz/bdi-abm-integration/blob/bb8334dbb4596317157c8509945d9d10c28b43ca/examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm/plan-algorithm.R) currently, an activity is assigned a location using a probability based on the beeline distance to home.

The algorithm should be updated to use a second probability w

[2018-08-01 21:16] dhixsingh opened #43 "Create test to show that agents abort their daily plan on evacuate message"
The purpose of this test is to confirm that MATSim daily plans can be overriden using BDI actions.This test should:

* [ ]  include say 30 agents with existing daily plans, such as those generated by the SCS [plan generation algorithm](https://github.com/agentsoz/bdi-abm-integration/blob/bb8334dbb4596317157c8509945d9d10c28b43ca/examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population

[2018-08-01 21:30] dhixsingh opened #44 "Write test to load BDI agents initial states from MATSim population file"
The test should show that the initial state of a BDI agent can be loaded through the MATSim population file via attributes (see #13). For instance, the following specifies how the `hasDependents` variable of a given resident agent to be initialised:

[code]

[2018-08-01 21:33] dhixsingh opened #45 "Implement and test new BDI behaviour for residents"
Implement and test a new Jill resident agent type as per the following behaviour:

![gor behaviours _ 31 jul 2018](https://user-images.githubusercontent.com/7893676/43550199-26855c92-9626-11e8-96e5-ee299b7c35a1.png)
![gor behaviours _ 31 jul 2018 1](https://user-images.githubusercontent.com/7893676/43550201-2842c5b0-9626-11e8-83ca-9fc6ac817398.png)

[2018-08-01 21:36] dhixsingh opened #46 "Implement and test BDI behaviours for other population subgroups"
To be done after #45.

`Part-time Resident`: Similar to `Resident`, but less chance of having a dependent (?).
`Regular Visitor`: No dependents, but can still prepare without committing to leave.
`Overnight Visitor`: Will not have dependents, and will never wait and see (ACT=INIT). May return to accommodation to collect things before leaving.
`Day Visitor`: Will not have dependents, will never wai

[2018-08-01 21:38] dhixsingh opened #47 "Implement BDI reaction threshold model"
As per below:
![gor behaviours _ 31 jul 2018 2](https://user-images.githubusercontent.com/7893676/43550477-06a499aa-9627-11e8-9662-2684895794f5.png)
![gor behaviours _ 31 jul 2018 3](https://user-images.githubusercontent.com/7893676/43550479-08649b8c-9627-11e8-9349-967e339d5c51.png)

[2018-08-01 21:41] dhixsingh opened #48 "Implement on-the-road BDI behaviours"
As per:
![gor behaviours _ 31 jul 2018 4](https://user-images.githubusercontent.com/7893676/43550549-49bb22d6-9627-11e8-8bbf-930e0e474113.png)

[2018-08-01 23:37] dhixsingh opened #49 "Create new test for information spread via social network to SCS residents working in Geelong"
Many residents from Surf Coast Shire work in Geelong. The messaging model currently is set up to send emergency messages, like `evacuate now`, to designated zones (say SA1s) in the Shire. Residents who work in Geelong will therefore not hear of the emergency via the scheduled messages. This cohort will instead hear about it from friends and family via the social network.

The test should:
* [ ] Cr

[2018-08-02 00:08] dhixsingh opened #50 "Create realistic summer weekday population with Surf Coast Shire Council"
The task is to update `examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm/typical summer weekday/*` input files so that they more accurately reflect the population and its activities on a typical summer weekday. To be done together with Surf Coast Shire Council.

Part of the task is also to calibrate traffic flow at key locations based on availble traffic counts

[2018-08-02 04:25] dhixsingh opened #51 "Simplify EES tests"
The EES tests can currently take [up to 20 mins to run on Travis](https://travis-ci.org/agentsoz/bdi-abm-integration/builds/405141722) and around 14 mins on a standard laptop.

The tests should be consolidated as there is significant overlap in tests now. Overall it would be good to remove some tests, and scale down some others to 10% and such so that overall the tests run in less than 5 mins.

[2018-08-02 06:17] dhixsingh commented on #51
After discussion with @osbornejr, have disabled a few tests that are not adding much value to the testing. Since commit 9684279 `mvn test` on my machine takes just under 4 minutes. The [last full run on travis took just under 10 mins](https://travis-ci.org/agentsoz/bdi-abm-integration/builds/411141021).

@osbornejr note that your commit a3f176d had broken travis; I've fixed this in 5d5e890.

[2018-08-06 01:58] dhixsingh commented on #51
Since 9283989 `mvn clean install` takes *less than 3 minutes*  on my machine and [under 7 minutes on Travis](https://github.com/agentsoz/bdi-abm-integration/commit/928398962d9d7addc882d1f2fe1d128adb63fdfe).

[2018-08-06 02:00] dhixsingh commented on #51
@osbornejr `testOtways300Tourist` is the only remaining test now that has >50 agents. Would you mind creating a `testOtways300TouristReduced` test that has ~30-50 agents instead?

See how I do this for [MainMaldon600Test](https://github.com/agentsoz/bdi-abm-integration/blob/928398962d9d7addc882d1f2fe1d128adb63fdfe/examples/bushfire/src/test/java/io/github/agentsoz/ees/MainMaldon600Test.java#L29).

[2018-08-06 02:09] dhixsingh commented on #37
@osbornejr can you create a test for this that fails some expectation? Do a minimal example, so with only one agent if that is all that is required to reproduce it. Set it to ignore once it is ready and assign this back to me.

[2018-08-06 03:05] #35 closed, assigned to dhixsingh

[2018-08-06 03:13] dhixsingh commented on #43
@osbornejr could you have a go at creating this test, ta.

[2018-08-06 03:19] osbornejr commented on #43
Yes I will. My Via licence is expired, so am trying to get a new one/
another way of verifying tests

On 6 August 2018 at 13:13, Dhirendra Singh <notifications@github.com> wrote:

[2018-08-06 07:19] dhixsingh commented on #13
Available since 71ae240. Example input is:

https://github.com/agentsoz/bdi-abm-integration/blob/71ae240beb83a004ea81ce5dc8ce75a25a09d7b2/examples/bushfire/scenarios/mount-alexander-shire/maldon-100-with-emergency-vehicles/scenario_matsim_plans_10.xml#L10-L23

And further below:

https://github.com/agentsoz/bdi-abm-integration/blob/71ae240beb83a004ea81ce5dc8ce75a25a09d7b2/examples/bushfire/scenari

[2018-08-06 07:19] #13 closed, assigned to dhixsingh

[2018-08-06 07:23] dhixsingh commented on #44
Available since 71ae240. Alternatively, BDI agents can now be specified using option `--x-load-bdi-agents-from-matsim-plans-file` and specifying a jill config placecholder `agents:[]` that gets filled based on what is specified in the MATSim plans file.

https://github.com/agentsoz/bdi-abm-integration/blob/71ae240beb83a004ea81ce5dc8ce75a25a09d7b2/examples/bushfire/src/test/java/io/github/agentsoz/

[2018-08-06 07:27] dhixsingh commented on #44
/cc @osbornejr

[2018-08-06 08:52] dhixsingh commented on #44
This doesn't allow per-agent-instance config yet, only per-agent-type. Still to do.

[2018-08-07 04:12] dhixsingh commented on #44
Available since e0b4583. Test `Maldon100WithEmergencyVehiclesTest` test for this, where three responders now attend to three different locations based on configuration in the MATSim population file (see below):

https://github.com/agentsoz/bdi-abm-integration/blob/e0b4583f3038390e8c7e8703495b99dad52a7dbd/examples/bushfire/scenarios/mount-alexander-shire/maldon-100-with-emergency-vehicles/scenario_

[2018-08-07 04:12] #44 closed, assigned to dhixsingh

[2018-08-08 00:02] dhixsingh commented on #47
@osbornejr if you could organise the smoke shapefiles (along with corresponding fire) that can be used for testing this.

[2018-08-08 04:03] osbornejr commented on #51
Done as of 8e8254f0b3a338d8b8fa761485d8b266ce60d6a1.

[2018-08-08 23:09] dhixsingh commented on #51
@osbornejr seems like you missed pushing the actual test `testOtways300TouristReduced` for this?

[2018-08-08 23:18] dhixsingh commented on #37
Couple of things here. Looking at how the `PhoenixFireModel` operates, it is a bit messy, from the time when we didn't have a way to send evacuate messages to agents, which we do now since the `MessagingModel` is in place. For now, seems there are two ways to disable agents evacuating.

1. Set `--sendFireAlertOnFireStart false` as you said.
2. Set evacuation start time to `0` in the `scenario_main

[2018-08-08 23:21] dhixsingh commented on #37
There is a second bigger issue here that you touched on. It seems that it is actually not possible at all to have MATSim agents with daily plans in the simulation. If you make all BDI agents regular MATSim agents, the simulation runs but they do not do anything i.e., they do not start their daily plans at all. I'm going to track that particular issue in #43.

Nothing else to do here I think so am

[2018-08-08 23:22] #37 closed, assigned to osbornejr

[2018-08-08 23:36] dhixsingh commented on #43
Ok, we have a problem here. It seems that **normal MATSim agents with daily plans do not work at all in the EES**. I've created a very simple test [`testDailyPlansInterrupted`](https://github.com/agentsoz/bdi-abm-integration/blob/2546ccbdfe12b1fb23089ed14f988f638df9a50b/examples/bushfire/src/test/java/io/github/agentsoz/ees/DailyPlansInterruptedTest.java#L27) that has 5 regular MATSim agents going

[2018-08-09 00:10] osbornejr commented on #51
Apologies. Should be good as of 59f5d4c9778f320d8bd46956c10aa9cde9cd56c0.

[2018-08-09 00:10] #51 closed, assigned to osbornejr

[2018-08-09 05:37] dhixsingh commented on #43
Found the problem. Existing activities are being pushed far into the future here:

https://github.com/agentsoz/bdi-abm-integration/blob/b7a1262692ec28d9116b3165211754dd610f8255/examples/bushfire/src/main/java/io/github/agentsoz/ees/Main.java#L129-L139

This means that the first activity never really ends. This was based on the assumption that BDI will tell the agent to do something always. However

[2018-08-09 05:54] dhixsingh commented on #43
Commit 52e1619 now includes a fix for this particular issue. Have repaired the input files as suggested in your comment @kainagel and moved the first activity's `end_time` in all the tests from `06:00:00` to `23:59:59`. Have removed the above code section now.

Now back on track on the original issue here.

[2018-08-09 06:21] osbornejr commented on #43
Ok that makes a lot of sense as to why the Generated10k test was never terminating.

[2018-08-09 06:44] dhixsingh commented on #43
This test is now ready since 47b1c0d in:

https://github.com/agentsoz/bdi-abm-integration/blob/47b1c0d1af2ff6f003eeaae4f426b4c4d6ad5800/examples/bushfire/src/test/java/io/github/agentsoz/ees/DailyPlansInterruptedTest.java#L28-L51.

It includes the following:
* A total of 10 agents composed of 5 BDI agents and 5 MATSim agents.
* All 10 agents have daily plans that they follow.
* At 1530 hrs, four o

[2018-08-09 06:45] #43 closed, assigned to dhixsingh

[2018-08-10 05:40] dhixsingh commented on #47
Threshold model is mostly in place since aec9489. See test [`testSurfCoastShirePopulationSubgroupsSample`](https://github.com/agentsoz/bdi-abm-integration/blob/aec9489d429027c109ea976564c1ed9983a3dc74/examples/bushfire/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsSampleTest.java#L28).

Here's a snippet of the memory dump of one of the agents in `jill.out`:
[code]

[2018-08-10 06:00] dhixsingh commented on #47
The environmental alert calculations all are still to do. These include:
1. Calculating fire visual based on proximity to fire (using global fire alert as a proxy for the moment).
1. Smoke visual based on proximity to smoke (related shapefile not available yet @osbornejr).
1. Neighbours leaving (haven't worked out how to do this yet as it will be computationally expensive if done naively).

[2018-08-10 10:37] kainagel commented on #36
Upload got stuck because I am in the train; here is at least the text:

I am fairly sure now that the problem is in the data, not in the code.  You start seeing it when you set the time-dep display in VIA to "3600" instead of "until next start time":
<img width="798" alt="image" src="https://user-images.githubusercontent.com/8777649/43951653-f5c9745c-9c93-11e8-91fd-98027a1ea449.png">
Then you see

[2018-08-10 11:09] dhixsingh commented on #36
Oh yes right, that makes sense @kainagel. I should have picked that up but that visual threw me. Thanks so much. I can take it from here.

[2018-08-10 12:54] kainagel commented on #23
Is this still an issue?  I haven't seen nondeterminism in the test outputs now for some time, but maybe this one here is switched off?

[2018-08-12 23:47] dhixsingh commented on #36
To clarify that point re the jumping fire, I've attached a few snapshots of the fire through from 8pm-11pm. The reason why vehicles are driving as they are in the original image is because presumably at 9pm there is no fire in that region as can be seen below. Will discuss this with Surf Coast Shire working group.

![fire8pm](https://user-images.githubusercontent.com/7893676/44007707-9625ffb0-9edd

[2018-08-13 00:58] osbornejr commented on #47
have added an ember_time_zones shp to ./scenarios/surf-coast-shire/data/phoenix 3c349909e56974a9d1c8645d0c51a050ae741df0. Might be updated in future, but gives us something to work with. I can convert to GEOJSON if needed @dhixsingh ?

[2018-08-13 01:17] dhixsingh commented on #36
@kainagel fyi have pushed a fix for this in a4dd0b3688670df9f778010ee76d462d242754c2. Instead of dealing with it in MATSimModel, I've updated the PhoenixFireModel to instead send *all fire shapes* prior to a given time. That way the union is always the full fire shape and nothing is lost in case we see these discontiguous shapes in the fire shapefile.

Relevant code is here:
https://github.com/age

[2018-08-13 01:46] #36 closed, assigned to dhixsingh

[2018-08-14 04:49] dhixsingh commented on #45
Residents' behaviour mostly in place since c2d0d46. Here is the log for a couple of agents that show diverse behaviours:

[code]

[code]

[2018-08-14 04:51] dhixsingh commented on #45
Still to do, decide where to go when agents decide to `leave now`.

[2018-08-14 04:53] dhixsingh commented on #45
@osbornejr can you now adjust the test population file (like I  did in  c2d0d46) such that all the different behaviour variations `R1` to `R7` are captured?

[2018-08-14 04:55] dhixsingh commented on #45
Still to do: logic to decide where residents should go when they decide to `leave now`.

/cc @osbornejr

[2018-08-14 23:42] dhixsingh opened #52 "Create new model for Smoke/Embers input"
The model should read the `examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_smoke.json` data and input the shapes into the simulation at the appropriate times.

The `hour_spot` attribute gives the time offset in hours from start of fire (separate input), and the `geometry` gives the shape (see [example here](https://github.com/agentsoz/bdi-abm-integration/blob/8611

[2018-08-14 23:44] dhixsingh opened #53 "Change PhoenixFireModel to use Grid output as well as ISO"
For the fire, the ISO files are probably not the ones we should be using given that they are smoothed outputs of the Phoenix run. We should switchover from ISO to Grid Phoenix output for the fire instead. That will mean that the visual of the fire over the landscape will look "blocky", but it is infact the more accurate output and what is used for analysis at DELWP. Switching to that will ensure t

[2018-08-15 10:54] osbornejr commented on #41
As of c496829f8721454511b83615ab7a85e035a62280 agents are assigned a unique address each. Will be refined in correspondence with SCS, especially in terms of allocations per address.

[2018-08-15 10:58] osbornejr commented on #42
As it stands this will be based on allocations provided in the input shapefile. i.e. each address will have both a type ("Residential", "Business District" etc.) and an allocation specifying the number of people who can attend this address. See "Count" column [here](https://github.com/agentsoz/bdi-abm-integration/blob/ees/examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-

[2018-08-15 21:23] dhixsingh opened #54 "Tidy up EES logging"
`log4j` and `slf4j` are used interdispersed through the EES. On top of that MATSim uses `log4j` and ships with an embedded `log4j.xml` config. We should firstly switch to use `slf4j` for all logging in the BDI-ABM repo, and then in the EES also include a `log4j.xml` to overwrite any logging config that ships with MATSim.

That way, all loggin in the EES will be controlled through the two files `lo

[2018-08-15 21:51] #54 closed, assigned to dhixsingh

[2018-08-17 02:39] dhixsingh commented on #2
Working well since 6690306. Includes
1. a new [EES config v2 XML schema](https://github.com/agentsoz/bdi-abm-integration/blob/6690306e43dbbb5de98ae3f6e31303b1c25b13f6/examples/bushfire/scenarios/xsd/ees.xsd#L1);
2. all EES arguments fully specified through the new config file, see [example ees.xml here](https://github.com/agentsoz/bdi-abm-integration/blob/6690306e43dbbb5de98ae3f6e31303b1c25b13f6/e

[2018-08-17 04:32] dhixsingh commented on #2
Working well since 1fe37d2. Includes
1. a new [EES config v2 XML schema](https://github.com/agentsoz/bdi-abm-integration/blob/6690306e43dbbb5de98ae3f6e31303b1c25b13f6/examples/bushfire/scenarios/xsd/ees.xsd#L1);
2. all EES arguments fully specified through the new config file, see [example ees.xml here](https://github.com/agentsoz/bdi-abm-integration/blob/1fe37d23e3ea9ee75d99dfb899d22ee319570532/e

[2018-08-17 04:36] #2 closed, assigned to dhixsingh

[2018-08-17 04:39] dhixsingh commented on #31
This is now all covered by the `SurfCoastShirePopulationSubgroupsSampleTest` test, but for the Anglesea area:
https://github.com/agentsoz/bdi-abm-integration/blob/1fe37d23e3ea9ee75d99dfb899d22ee319570532/examples/bushfire/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsSampleTest.java#L29-L35

[2018-08-17 04:39] #31 closed, assigned to dhixsingh

[2018-08-17 04:50] dhixsingh opened #55 "Test BDI behaviours for Surf Coast Shire"
The behaviours for all the subgroups are now implemented (see #45, #46), and the test is available in `SurfCoastShirePopulationSubgroupsSampleTest`:
https://github.com/agentsoz/bdi-abm-integration/blob/1fe37d23e3ea9ee75d99dfb899d22ee319570532/examples/bushfire/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsSampleTest.java#L29-L35

The next step is to test that the behaviour

[2018-08-17 04:52] dhixsingh commented on #45
Basic behaviours are working at least as of a8854680846c0d751909ef7723b8c0c16e303cf9.

[2018-08-17 04:52] #45 closed, assigned to dhixsingh

[2018-08-17 04:52] dhixsingh commented on #46
Basic behaviours are working at least as of a8854680846c0d751909ef7723b8c0c16e303cf9.

[2018-08-17 04:52] #46 closed, assigned to dhixsingh

[2018-08-17 04:54] dhixsingh commented on #48
This should also include the `leave now` plan which is not implemented yet (see #45).

[2018-08-17 05:00] dhixsingh commented on #47
Thanks for adding that @osbornejr. Will start a new ticket for the environmental alerts. Closing this one as the threshold model is in place.

[2018-08-17 05:00] #47 closed, assigned to osbornejr

[2018-08-17 05:04] dhixsingh opened #56 "Implement proximity-based alerts for smoke, fire, and neighbours leaving"
Following on from #47, the following proximity-based alerts are to be implemented:

* Fire visual based on proximity to fire (using global fire alert as a proxy at least as of a8854680846c0d751909ef7723b8c0c16e303cf9).
* Smoke visual based on proximity to smoke (related to #52).
* Neighbours leaving (will be computationally expensive if done naively).

[2018-08-17 23:27] dhixsingh commented on #52
Working since cb30998705175a7936bf484eedaf59025f0a5354 for `SurfCoastShirePopulationSubgroupsSampleTest`.

[2018-08-17 23:27] #52 closed, assigned to dhixsingh

[2018-08-17 23:28] dhixsingh commented on #56
Smoke and Fire proximity is now working since cb30998705175a7936bf484eedaf59025f0a5354 for `SurfCoastShirePopulationSubgroupsSampleTest`. See snippet below from `jill.out`:
[code]

[2018-08-18 02:49] dhixsingh commented on #56
Smoke and fire proximity alerts are done as per above. However, am deciding not to implement a *neighbours leaving* alert for the following reasons:
* It is unclear what constitutes *neighbours*; is it people living close to the home location or can it be anyone in the current vicinity who has decided to leave?
* The time window to consider for calculating who left is unclear. Should neighbours wh

[2018-08-18 02:50] dhixsingh commented on #56
@osbornejr still need to test that the smoke and fire proximity alerts are working correctly as part of #55.

[2018-08-18 02:50] #56 closed, assigned to dhixsingh

[2018-08-18 02:57] dhixsingh opened #57 "Allow committed BDI driveTo actions to be aborted"
It is possible that while driving to some location, say to check on dependents, that the situation changes--a new percept arrives--causing the agent to change its plan and do something else (dirve somewhere else). This requires that the currently executing BDI `driveTo` action be allowed to abort.

The BDI agent should be allowed to issue this command somehow, causing the blocked BDI action to ret

[2018-08-18 05:10] dhixsingh commented on #48
Now dependent on #57, since we need the ability to abort a committed BDI `drive_to` action when we hit a road block etc.

[2018-08-18 05:19] dhixsingh opened #58 "Improve destination choice for leave now behaviour"
Currently the agent just picks the preferred evacuation location that either comes from the population initialisation as below,
https://github.com/agentsoz/bdi-abm-integration/blob/0c76c954b4e299e8ba2810bd5f2fa9717d952ddf/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L29

Or recommended in the emergency message, as below,
https://github.com/agen

[2018-08-20 01:33] dhixsingh commented on #57
Available since 3084ed858577af5eab7f0b0f996bd6d4a3753fdb although not tested yet. Needs to be discussed together with #48.

[2018-08-20 01:34] dhixsingh commented on #48
Things to work out:

1. What happens if someone is driving as part of initial response, and while on the road the final response is breached? Will depend on what higher level plan they are doing, and might vary by person type.

1. What happens if one of the GotoHome/Dependents/EvacPlace/InvacPlace actions does not succeed (due to road block etc.). Probably the agent should re-try N times (based on

[2018-08-20 02:52] #41 closed, assigned to osbornejr

[2018-08-20 03:58] #42 closed, assigned to osbornejr

[2018-08-20 04:03] osbornejr opened #59 "Set attributes for each agent during initialisation (plan algorithm)"
Ultimately we want to be able to define a scenario_matsim_plans.xml entirely by the inputs to the plan algorithm. This means that each attribute/parameter needs to be set for an agent up front.

The distribution of different attributes over and within the subgroups should be defined in a new input file(s).

[2018-08-20 12:21] dhixsingh commented on #59
Ideally we should set this up so that the population could be appended to using new distributions. So for instance if down the track I get a new distribution for evacuation places, then I would like to just remove the existing attribute for evac place and replace it with new values. Same for the other attributes. This would also allow us to take existing MATSim population files and convert them to

[2018-08-21 01:04] osbornejr opened #60 "Fix location choice to be based on localities, not distances"
Activity locations are chosen in the plan algorithm based on inverse distance to home. This is fine when all the activity locations are within the danger area/area of interest, but the new locations shapefile contains detailed address data for the whole of the Surf Coast Shire. This means that when say a `VisitorDaily` is coming in from Geelong, they will be likely to return to Geelong for things

[2018-08-21 01:10] osbornejr commented on #55
As of e47569d5fcbef860f8d2ad634b6dc52f016a73b2 MATSim population is changed and behaviour variations are observed/described, along with some potentially problematic behaviours.

[2018-08-21 01:13] osbornejr commented on #60
Will probably need some further information from SCSC, so moving to DSS Final milestone.

[2018-08-22 01:31] osbornejr commented on #60
As of 716f47ad77431ea06409bb84335dcbbe6d20d771, agents now pick the location of next activity based on the locality they are in currently. Probability of staying in area is fixed at 0.666 at the moment.  In future this will likely have to vary between subgroups-- i.e. a `Resident` will be much more likely to stay within their local area than a `VisitorOvernight`. In fact it will be necessary to en

[2018-08-22 01:31] #60 closed, assigned to osbornejr

[2018-08-22 02:13] osbornejr opened #61 "Select dependent location based on locality"
Currently in [Attributes.R](https://github.com/agentsoz/bdi-abm-integration/blob/ees/examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm/Attributes.R) the location for a dependent is selected randomly from within a 20 km radius of the agent's home. This should be updated to use the same locality method that the plan algorithm uses.

[2018-08-22 02:15] osbornejr opened #62 "Update BDI agent attributes"
A few more things need to be specified in the
`<person>`
     `<attributes>...`
section of the `scenario_matsim_plans.xml`.

Firstly,  `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` should be exposed here, so that they can vary from person to person (and subgroup to subgroup).

Secondly, the `EvacLocationPreference` and `InvacLocationPreference` options should be able to hold a li

[2018-08-22 02:16] osbornejr commented on #59
In place as of 55150ffeeb8044d6ec8369092901bd60657cd310. Still need to make assignment of dependents more intelligent (#61), and make evac/invac preferences contain a list of options (possibly ranked) (see #62). At the moment these preferences are the same for all agents, as there is a) not proper data in the input shapefile to assign these and b) not a full picture of how the LeaveNow plan will i

[2018-08-22 02:16] #59 closed, assigned to osbornejr

[2018-08-22 04:48] osbornejr opened #63 "Include fire front in disruption model"
The fire shapefile creates penalties which prevent agents from routing through or near the fire front. There may be some ongoing issues with this process (@dhixsingh #36), but this may not cover all cases.  Even when combined with the threshold model (see #47), it is possible for an agent to

* have a high warning threshold i.e. continue with daily plan
and
* form a route for a daily plan activity

[2018-08-22 04:49] osbornejr opened #64 "Awareness of distance from fire"
Currently it is common for agents who are not in direct danger to evacuate to the instructed place of evacuation on a route that takes them closer to the danger, and also adds to congestion.
Another possibility is that their chosen place of evacuation takes them _closer_ to the fire than if they had just stayed put.
This may be a consequence of blanket messaging-- in practice each area would be in

[2018-08-22 05:06] osbornejr commented on #58
It is becoming clear that this LeaveNow choice will be complicated, and should depend on
* distance from fire (and is the agent going closer to danger? see #64)
* distance from current location
* a ranked list of preferences. These will reflect the places of refuge that an agent is aware of. See #62.
* message content (if any) that determines the best course of action e.g. "seek shelter now", "eva

[2018-08-22 05:16] osbornejr commented on #48
Another important aspect of on-the-road behaviours is how the different subgroups reroute. We should ensure that `Resident` and `ResidentPartTime` agents use the shortest route, whereas `VisitorRegular`,`VisitorOvernight` and `VisitorDaytime` agents only prefer main roads. The `Resident_` and `Visitor_` prefixes could be used as a higher level  distinction (in terms of class structure) for traffic

[2018-08-22 05:32] osbornejr opened #65 "Time buffer before acting"
One simple method of making people's responses more realistic would be to add a random time buffer of 1-30 minutes **before** each plan is executed. This has a number of benefits:

* it implicitly distributes response time to messages. Agents would continue to enact their prior plan, and hence not everyone would depart immediately after a message is released. Latency period could be defined for ea

[2018-08-22 08:39] osbornejr commented on #55
@dhixsingh Have pretty much verified everything as of 9e01a5182111ae67d97e42235f26bd27bc7f02de. Narrowed it down to interesting and properly functioning cases. Still were a few that I couldn't get the same every time, very slight changes (moving home by a street etc.) would completely change behaviour, usually related to the `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` variables

[2018-08-23 03:52] dhixsingh commented on #62
Unfortunately there is no way to do that last one. A MATSim activity tag like this one `<activity type="beach" x="794920.60169" y="5772690.71159" end_time="16:02:00" />` cannot have a description assigned to the type. The only way to say that `beach` is `Anglesea Beach` for intance, is via some attribute tag like `beachDescription` but that would not be a good idea as it would be easy to mess this

[2018-08-23 04:26] dhixsingh commented on #62
Parameters `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` are now exposed as of f8222a4. See below:
https://github.com/agentsoz/bdi-abm-integration/blob/f8222a474ce91025a2c29880bd8d33ec2555fd35/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L43-L44

@osbornejr you can now adjust these as needed for the hand-crafted test `SurfCoas

[2018-08-23 05:39] osbornejr commented on #62
Thanks. I am thinking with `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` that they should not be a probability for each agent, but a true/false condition which is determined during attribute assignment based on some overall probability for their subgroup type.

They could even be collapsed into one attribute `WillGoHome`, because the first one only applies to those with dependent

[2018-08-23 15:30] osbornejr commented on #55
@dhixsingh whilst verifying SurfCoastPopulationSubgroupSampleTest found a bug where resident with simultaneous responses skips the `INITIAL RESPONSE` and so fails to attend to dependent. See for details: https://github.com/agentsoz/bdi-abm-integration/blob/4ba84c50571bf7b8aea3135bef07f0482dada4e2/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L11

[2018-08-23 23:19] dhixsingh commented on #62
Yes that is a much better scheme @osbornejr. Have now implemented what you suggested in db4cd19. Now looks like this:
https://github.com/agentsoz/bdi-abm-integration/blob/db4cd19e4512fa4717cfe2892f37f348d98ff12d/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L162-L163

[2018-08-23 23:23] dhixsingh commented on #49
Diffusion model is now available in the `ees` branch since 7060e9640033f78e83326b948aa1a23b3abcd782 and is enabled in `SurfCoastShirePopulationSubgroupsTest`. Agents now send and receive social network messages (only `EVACUATE_NOW` is propagated until we have support for multiple messages in the diffusion model). Still needs to be tested for correct behaviour (#55). Diffusion model parameters like

[2018-08-23 23:23] #49 closed, assigned to dhixsingh, chambul

[2018-08-23 23:47] #57 closed, assigned to dhixsingh

[2018-08-23 23:51] dhixsingh commented on #48
Moving to next milestone as this requiers a longer discussion.

[2018-08-24 00:09] dhixsingh opened #66 "Create new staged evacuation test for Anglesea"
This is meant to be a 10k agents test, so 500 agents at 5% capacity will be ok for now. The test should include three different messaging schemes:
* [x] A baseline evacuation where the messages go to all zones  [similar to this scheme](https://github.com/agentsoz/bdi-abm-integration/blob/935be94d4ffbddc8320ae69c574b630bd7748f84/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-samp

[2018-08-24 00:15] dhixsingh opened #67 "SurfCoastShirePopulationSubgroupsTest does not run to completion"
the following test does not run to completion, seemingly from threading issues:
https://github.com/agentsoz/bdi-abm-integration/blob/3f6afa57d2f939f84a50ad32131d7dbad7711286/examples/bushfire/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsTest.java#L27-L35

[2018-08-24 02:41] osbornejr opened #68 "Agents skipping initial response"
When testing behaviours I noticed that a resident with a dependent who had both their thresholds met simultaneously could potentially skip the `INITIAL_RESPONSE` step and jump straight to the `ActNow` plan options. This is a major issue because it means that the resident ignores their dependent and just evacuates.

To reproduce, see that as of 4ba84c50571bf7b8aea3135bef07f0482dada4e2 SurfCoastPopu

[2018-08-24 04:23] osbornejr commented on #66
Now ready to go once threading issue #67 is sorted. Will probably need testing once that is possible, so will leave open for now. @dhixsingh

[2018-08-24 04:24] osbornejr commented on #55
Waiting to verify behaviours once #68 is sorted out.

[2018-08-24 06:48] osbornejr commented on #61
Ideally this can also happen for invac and evac options, i.e. invac options are always within/locality, and evac options are not.

Requires home locality to be ported from plan-algorithm, or potentially some other mechanism to identify an x-y coordinate's locality.

[2018-08-26 03:53] dhixsingh commented on #67
Fixed since b5cf72e4bb57bb80d0aaa5bea10c3a16bb40fa7c on the `ees` branch.

[2018-08-26 03:54] #67 closed, assigned to dhixsingh

[2018-08-26 03:57] dhixsingh commented on #68
Haven't found instances of this in the large 500 agents test `SurfCoastShirePopulationSubgroupsTest`. The closest I got was this where it seems that `ActNow` is happening before `InitialResponse` but it is not (just logging is out of order in that timestep):

[code]

[2018-08-26 04:06] dhixsingh commented on #68
MIght be this is no longer an issue but leaving open for now.

[2018-08-26 04:07] osbornejr commented on #68
Do you reproduce the output I posted above on the referenced commit? Even if it is unlikely, it is worrying that it can happen-- whatever process is going on the result is an agent ignoring their dependents.

[2018-08-26 11:08] dhixsingh commented on #68
I just tried this. In that commit the random seed was not getting set correctly so the results are non-deterministic. I ran the test four times and got four slightly different logs but `Resident 3` went to the dependents each time.  Can't say I can reproduce this one. Can you @osbornejr?

[2018-08-26 12:33] osbornejr commented on #68
As of latest commit, am still getting this behaviour. Hard to pin down though because it doesn't happen every time or with the same resident every time. Here is a read out of resident 4 on one run:

`Time -0001 Resident 4         : memory:-1:BELIEVED:DEPENDENTS_INFO:(Dependent, coords=778707.91,5745384.49), last visited at time=-1.0
Time 45002 Resident 4         : memory:45002:PERCEIVED:emergency_

[2018-08-26 12:50] dhixsingh commented on #68
Try disabling congestion rerouting as that causes some non determinism too. I will look again too.

[2018-08-26 13:23] osbornejr opened #69 "Double evacuations"
As of a92bd9afb606d50e14f06619b787cbcb29af815d, the agents in SurfCoastShirePopulationSubgroupsSampleTest show strange behaviour when the disruptions file [scenario_disruptions.xml](https://github.com/agentsoz/bdi-abm-integration/blob/ees/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_disruptions.json) is turned on.

For example, agent 12 evacuates to Melbourne (

[2018-08-26 13:55] osbornejr commented on #55
OK so random decisions to not attend to dependents aside (#68), everything here should match properly with the descriptions as of a92bd9a .

Note that this is with the disruptions file turned OFF. When on, it exposes some very strange behaviour, not least an agent enacting the ActNow plans twice (which means they come back from Melbourne!) have made issue #69 for this, but this is now done so can

[2018-08-26 13:55] #55 closed, assigned to osbornejr

[2018-08-26 14:37] osbornejr commented on #66
Ready as of 7d0d395; there may be some issues with illogical choices between different subgroups on where to go based on preference, but that is to be expected until these are selected more intelligently (#61).

To indicate the difference between the directed and undirected scenarios in the video, perhaps could have difference colour codes for those who evacuate to a directed location.

[2018-08-26 14:37] #66 closed, assigned to osbornejr

[2018-08-26 14:42] osbornejr commented on #55
@dhixsingh probably best not to do any more changes to the inner workings until you've recorded the video for this. Also might be worth just checking that none are doing bug #68 in the recording; the two ones that were usually were problematic were 3 and 4; but 1 5 and 6 also have dependents.

Also, remember that 1 was a prime candidate for the social network addition; at the moment they still sta

[2018-08-31 02:56] dhixsingh opened #70 "Move evacuation code from BDI-MATSim integration to EES application"
The code in the BDI-MATSim integration in `integrations/bdi-matsim/src/*` has several classes that are related to the bushfire evacuation modelling and should be moved to the respective java package in `examples/bushfire/src/main/java/io/github/agentsoz/ees/*`.

The BDI-MATSim integration is meant to stay application independent.

[2018-09-17 01:56] dhixsingh commented on #70
This issue was moved to agentsoz/ees#1

[2018-09-17 01:56] #70 closed, assigned to dhixsingh

[2018-09-17 01:57] dhixsingh commented on #69
This issue was moved to agentsoz/ees#2

[2018-09-17 01:57] #69 closed, assigned to dhixsingh

[2018-09-17 02:01] dhixsingh commented on #68
This issue was moved to agentsoz/ees#3

[2018-09-17 02:01] #68 closed, assigned to dhixsingh

[2018-09-17 02:01] dhixsingh commented on #65
This issue was moved to agentsoz/ees#4

[2018-09-17 02:01] #65 closed, assigned to dhixsingh, osbornejr

[2018-09-17 02:02] dhixsingh commented on #64
This issue was moved to agentsoz/ees#5

[2018-09-17 02:02] #64 closed, assigned to dhixsingh

[2018-09-17 02:02] dhixsingh commented on #63
This issue was moved to agentsoz/ees#6

[2018-09-17 02:02] #63 closed, assigned to dhixsingh

[2018-09-17 02:02] dhixsingh commented on #62
This issue was moved to agentsoz/ees#7

[2018-09-17 02:02] #62 closed, assigned to dhixsingh, osbornejr

[2018-09-17 02:03] dhixsingh commented on #58
This issue was moved to agentsoz/ees#8

[2018-09-17 02:03] #58 closed, assigned to dhixsingh

[2018-09-17 02:04] dhixsingh commented on #53
This issue was moved to agentsoz/ees#9

[2018-09-17 02:04] #53 closed, assigned to dhixsingh

[2018-09-17 02:05] dhixsingh commented on #48
This issue was moved to agentsoz/ees#10

[2018-09-17 02:05] #48 closed, assigned to dhixsingh

[2018-09-17 02:05] dhixsingh commented on #38
This issue was moved to agentsoz/ees#11

[2018-09-17 02:05] #38 closed, assigned to dhixsingh, osbornejr

[2018-09-17 02:05] dhixsingh commented on #34
This issue was moved to agentsoz/ees#12

[2018-09-17 02:05] #34 closed, assigned to dhixsingh

[2018-09-17 02:05] dhixsingh commented on #32
This issue was moved to agentsoz/ees#13

[2018-09-17 02:05] #32 closed, assigned to dhixsingh

[2018-09-17 02:05] dhixsingh commented on #29
This issue was moved to agentsoz/ees#14

[2018-09-17 02:05] #29 closed, assigned to dhixsingh

[2018-09-17 02:06] dhixsingh commented on #23
This issue was moved to agentsoz/ees#15

[2018-09-17 02:06] #23 closed, assigned to dhixsingh

[2018-09-17 02:06] dhixsingh commented on #20
This issue was moved to agentsoz/ees#16

[2018-09-17 02:06] #20 closed, assigned to dhixsingh

[2018-09-17 02:06] dhixsingh commented on #18
This issue was moved to agentsoz/ees#17

[2018-09-17 02:06] #18 closed, assigned to dhixsingh

[2018-09-17 02:06] dhixsingh commented on #14
This issue was moved to agentsoz/ees#18

[2018-09-17 02:06] #14 closed, assigned to dhixsingh

[2018-09-17 02:07] dhixsingh commented on #12
This issue was moved to agentsoz/ees#19

[2018-09-17 02:07] #12 closed, assigned to dhixsingh

[2018-09-17 02:07] dhixsingh commented on #11
This issue was moved to agentsoz/ees#20

[2018-09-17 02:07] #11 closed, assigned to nobody

[2018-09-17 02:07] dhixsingh commented on #4
This issue was moved to agentsoz/ees#21

[2018-09-17 02:07] #4 closed, assigned to nobody

[2018-09-18 01:05] osbornejr commented on #61
Closing because this is now an open issue in the [ees](https://github.com/agentsoz/ees) repo.

[2018-09-18 01:05] #61 closed, assigned to osbornejr

[2018-09-18 01:07] osbornejr commented on #50
Closing because this is now an open issue in the [ees](https://github.com/agentsoz/ees) repo.

[2018-09-18 23:34] dhixsingh commented on #50
Tracked now in [ees/#23](https://github.com/agentsoz/ees/issues/23)

[2018-09-18 23:34] #50 closed, assigned to osbornejr

[2018-09-29 18:06] kainagel opened #71 "How to modify MATSim plans"
(email from Lin)

Apparently now, when we edit a MS plan, our code removes the entire plan and then writes the new plan. If we want to save some of the original plan Dhirendra thought maybe we need to do that by storing the original and rewriting the parts we want back into
the revised plan.

I thought that now you have made this interface to edit plans, trips and routes, that we could just change

[2018-09-29 18:53] kainagel commented on #71
Re 1:

https://github.com/agentsoz/bdi-abm-integration/blob/b5e65134591b277940f2f517a7ed5eec42ebec5c/integrations/bdi-matsim/src/main/java/io/github/agentsoz/bdimatsim/ActionHandlerXyz.java#L65-L82

[2018-09-29 18:54] kainagel commented on #71
Re 2:

https://github.com/agentsoz/bdi-abm-integration/blob/b5e65134591b277940f2f517a7ed5eec42ebec5c/integrations/bdi-matsim/src/main/java/io/github/agentsoz/bdimatsim/ActionHandlerXyz.java#L85-L95

[2018-10-21 09:32] kainagel opened #72 "How are the new routers set up?"
(question from Lin)

I want to describe the new routers that use penalties and how they differ from the freespeed and global routers. I have a few questions:
Do the global and freespeed routers normally use penalties in any way?
How were penalties used previously before making them dynamic and allowing for them to be used by routers?
Were they always router specific or is that new?
What are the pa

[2018-10-21 10:27] kainagel commented on #72
I decided to rather address this by an email.  The "issue" could be completely deleted, but I don't know how to do that.

[2018-10-21 10:27] #72 closed, assigned to nobody

[2019-01-24 05:49] dhixsingh opened #73 "Migrate to AgentDataContainer V2"
The old `AgentDataContainer` is now deprecated:
https://github.com/agentsoz/bdi-abm-integration/blob/82590e522829fab82d5e0c09a0d21d8e86f4cb78/integrations/bdi-abm/src/main/java/io/github/agentsoz/bdiabm/data/AgentDataContainer.java#L43

and should be replaced by the newer `AgentDataContainer` throughout:
https://github.com/agentsoz/bdi-abm-integration/blob/18d507b9af6d972e6e31e1e8dc0f48fcc058e6df/

[2019-01-25 03:15] #73 closed, assigned to dhixsingh

[2019-01-25 04:56] #71 closed, assigned to nobody

[2020-06-30 21:09] dhixsingh opened #76 "Update bdi-matsim to use MATSim 12.0"
https://github.com/agentsoz/bdi-abm-integration/blob/d5fd889b81bfc5de461b950816cbf2c4085c0f2f/integrations/bdi-matsim/pom.xml#L46

[2021-04-20 06:08] Ohay-Angah commented on #71
Hi @kainagel,
Thanks for these example. Could we also use them to modify plans during the simulation? I am thinking that applying the functions PlayPauseSimulationControl and doStep(time) might be one way to implement this task. However, I got nowhere around install bindMobsim()...

[2021-04-27 19:49] #76 closed, assigned to nobody

[2021-09-12 21:11] oemer95 opened #79 "abm-jadex layer compile failure"
Hi there,

I would like to connect matsim with jadex agents, so therefore I installed the layers bdi-abm, bdi-matsim and consequently abm-jadex layer. But during mvn clean install of the abm-jadex layer, I get the terminal output below. Could you please help?

(In the abm-jadex pom-file, I used the jadex version 2.3, which is deprecated and the bdi-abm snapshot 3.0.1)

---

$ mvn clean install
[←[

[2021-09-12 22:10] dhixsingh commented on #79
@oemer95, the error would be because the `bdi-abm 3.*` API is incompatible with the `abm-jadex` integration version. The `abm-jadex` code is quite old as you can tell, and we haven't ported it to the newer Jadex programming model since we haven't had any users wanting it. Your best bet would be to try with `bdi-abm 2.0.2`.

[2021-09-13 12:42] oemer95 commented on #79
@dhixsingh Thanks a lot for your help, I'll try out your advice. I wonder if there's an application example provided, where Jadex is connected to MatSim? In fact, I'm working on connecting both together and I would like to know, what you would recommend. Should I modify a given example like "bushfire" or implement a new one from scratch? Thanks a lot!

[2021-10-16 03:59] dhixsingh commented on #79
Unfortunately we never had the integration updated for the “newer” Jadex programming model, as there were no users needing it, so the jadex-abm integration needs to be upgraded first before building any applications with it.

[2021-10-18 14:41] oemer95 commented on #79
@dhixsingh Thank you very much for your response. My problem is to build a connection between the current JadeX (4.0) and MatSim (13.0) and as far as I'm aware, your work is the most similar to this. I would prefer to use your work and update it for JadeX. Since the `abm-jadex` layer has to be upgraded, I would like to know whether it is done with that or whether I need further changes in the bdi-